<div class="view edit">


    <h1>Profile</h1>
    </br>


    <form method="post">

        <input name="_csrf" type="hidden" value="{{ csrfToken }}"></br>

        {{#userProfile}}

            <p><span class="label">First name: </span>
                <input type="text" name="firstname" placeholder="First name" value="{{ first_name }}"></p>
            <p><span class="label">Last name: </span>
                <input type="text" name="lastname" placeholder="Last name" value="{{ last_name }}"></p>
            <p><span class="label">Email: </span>
                <input type="email" name="email" placeholder="Email" value="{{ email }}"></p>
            <p><span class="label">Password: </span>
                <input type="password" name="password" placeholder="only if you want new one!"></p>
            <p><span class="label">Age: </span>
                <input type="number" name="age" placeholder="Age" min="18" max="111" value="{{ age }}"></p>
            <p><span class="label">City: </span>
                <input type="text" name="city" placeholder="City" value="{{ city }}"></p>
            <p><span class="label">Homepage: </span>
                <input type="url" name="homepage" placeholder="Homepage" value="{{ homepage }}"></p>

            </br>
            <button type="submit">Update</button></br>

        {{/userProfile}}

    </form>


</div>
